<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/css/style.css">
    <title>Ache Photography</title>
</head>

<body>
    <main>
        <!-- Landing Area-->
        <div id="landing">
            <div id="landing-text">
                <div id="landing-text-inner">
                    <h1 class="text-gradient">Ache Photography</h1>
                    <h2>Beautiful Natural Photography</h2>
                    <a href="#images" id="view-work" class="btn btn-glow"> View Work</a>
                </div>
            </div>
            <div id="landing-image">
            </div>

            <div id="images">
                <div id="header">
                    <h2 class="glow-text">Our Work</h2>
                </div>
                <img src="https://source.unsplash.com/1600x900/?apartment,building" alt="Buildings">
                <div id="caption">
                    <h2><span class="text-gradient">Apartments</span></h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptatibus!</p>
                </div>
                <img src="https://source.unsplash.com/1600x900/?houses,bungalow" alt="Houses">
                <div id="caption">
                    <h2><span class="text-gradient">Houses</span></h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptatibus!</p>
                </div>
                <img src="https://source.unsplash.com/1600x900/?people,black" alt="People">
                <div id="caption">
                    <h2><span class="text-gradient">People</span></h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptatibus!</p>
                </div>
                <img src="https://source.unsplash.com/1600x900/?people,random" alt="People">
                <div id="caption">
                    <h2><span class="text-gradient">People</span></h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptatibus!</p>
                </div>
                <img src="https://source.unsplash.com/1600x900/?nature,animals" alt="animals">
                <div id="caption">
                    <h2><span class="text-gradient">Animals</span></h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Inventore, voluptatibus!</p>
                </div>
            </div> 
        </div>
    </main>

    <footer>
        <h2>Get in Touch</h2>
        <p>
            Email: <strong email> ebhamenteddyjr@gmail.com</strong>
        </p>
        <p>
            Telephone: <strong tel> +2348176239156</strong>
        </p>
    </footer>


    <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"></script>
  <script src="./static/js/main.js"></script>
</body>

</html>